<main class="layout-main scrollbar">
    <section>
        <h1>Button</h1>
        <h2>A pure CSS component</h2>
    </section>
    <hr id="anatomy">
    <section>
        <h3>Anatomy</h3>
        <p>There are 4 different button anatomies, each requiring specific classes and accessibility attributes.</p>
        <div class="preview">
            <div id="button-anatomy" class="preview-display">
                <button class="button">Text</button>
                <button class="button">Text and SVG
                    <svg class="button__icon" class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--square" aria-label="Button text">
                    <svg class="button__icon" class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--square" aria-label="Button text">B</button>
            </div>
            {{>copy/button/anatomy}}
        </div>
        <h4>Text</h4>
        <p>Text button do not require additonal attibutes</p>
        <h4>Text and SVG</h4>
        <p><code data-lang="html" class="code-js select-all">svg</code> tag requires <code data-lang="html"
                class="code-js select-all">aria-hidden="true"</code>
            to hide it from screen readers as the the text already include the necessary information
        </p>
        <p><code data-lang="html" class="code-js select-all">svg</code> tag requires <code data-lang="html"
                class="code-js select-all">class="button__icon"</code>
        </p>
        <h4>SVG</h4>
        <p><code data-lang="html" class="code-js select-all">a</code> tag requires <code data-lang="html"
                class="code-js select-all">aria-label="Login to your account"</code>
            to indicate indicate the action to the user
        </p>
        <p><code data-lang="html" class="code-js select-all">svg</code> tag requires <code data-lang="html"
                class="code-js select-all">aria-hidden="true"</code>
            to hide it from screen readers as the the text already include the necessary information
        </p>
        <p><code data-lang="html" class="code-js select-all">svg</code> tag requires <code data-lang="html"
                class="code-js select-all">class="button__icon"</code>
        </p>
        <h4>One caracter</h4>
        <p><code data-lang="html" class="code-js select-all">a</code> tag requires <code data-lang="html"
                class="code-js select-all">aria-label="Login to your account"</code>
            to indicate indicate the action to the user
        </p>
    </section>
    <hr id="modifers">
    <section>
        <h3>Modifier</h3>
        <p>Each button can be styled with modifiers.</p>
        <p>You can <a href="#mix" class="link">mix as many modifiers</a> on the same button, however you
            can choose only one choice per modifer</p>
        <p>For convenience the default variant name is omited, meaning there is no need to add the default name
            class</p>
        <div class="notification">
            You may have noticed the double dash before the modifier name — this follows the
            <a class="link" href="https://en.bem.info/methodology/quick-start/" target="_blank">BEM (Block Element
                Modifier)
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <title>Opens in a new window</title>
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
            </a> naming convention
        </div>
        <div class="table-wrapper scrollbar scrollbar--sm">
            <table>
                <thead>
                    <tr>
                        <th>Modifier</th>
                        <th>Option</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#variant" class="link">Variant</a></td>
                        <td>neutral (default), accent</td>
                        <td>Used for different types of actions</td>
                    </tr>
                    <tr>
                        <td><a href="#color" class="link">Color</a></td>
                        <td>base (default), brand, alert</td>
                        <td>Use any semantic colors</td>
                    </tr>
                    <tr>
                        <td><a href="#font-color" class="link">Font Color</a></td>
                        <td>base (default), brand, alert</td>
                        <td>Use any semantic colors.</td>
                    </tr>
                    <tr>
                        <td><a href="#size" class="link">Size</a></td>
                        <td>md (default), sm, lg, xl</td>
                        <td>Modify the size of the button.</td>
                    </tr>
                    <tr>
                        <td><a href="#shape" class="link">Shape</a></td>
                        <td>rectangular (default), square, circle</td>
                        <td>Modify the shape of the button.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <hr id="variant">
    <section>
        <h3>Variant</h3>
        <p>Set the variant of each button</p>
        <p>Options: <strong>neutral(default)</strong>, <strong>accent</strong></p>
        <div class="preview">
            <div id="button-variant" class="preview-display">
                <div>
                    <button class="button">Text</button>
                    <button class="button">Text and SVG
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square" aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--accent">Text</button>
                    <button class="button button--accent">Text and SVG<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--square" aria-label="Button text">B</button>
                </div>
            </div>
            {{>copy/button/variant}}
        </div>
    </section>
    <hr id="color">
    <section>
        <h3>Color</h3>
        <p>Set the color of each button</p>
        <p>Options: <strong>base(default)</strong>, <strong>brand</strong>, <strong>alert</strong></p>
        <div class="preview">
            <div id="button-color" class="preview-display">
                <div>
                    <button class="button button--brand">Text</button>
                    <button class="button button--brand">Text and SVG<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--brand button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--brand button--square" aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--alert">Text</button>
                    <button class="button button--alert">Text and SVG<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--alert button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--alert button--square" aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--accent button--brand">Text</button>
                    <button class="button button--accent button--brand">Text and SVG<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--brand button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--brand button--square"
                        aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--accent button--alert">Text</button>
                    <button class="button button--accent button--alert">Text and SVG<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--alert button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--alert button--square"
                        aria-label="Button text">B</button>
                </div>
            </div>
            {{>copy/button/color}}
        </div>
    </section>
    <hr id="font-color">
    <section>
        <h3>Font Color</h3>
        <p>Set the font color of each button</p>
        <p>Options: <strong>base(default)</strong>, <strong>brand</strong>, <strong>alert</strong></p>
        <div class="preview">
            <div id="button-font-color" class="preview-display">
                <div>
                    <button class="button button--font-brand">Text</button>
                    <button class="button button--font-alert">Text and SVG<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square button--font-brand" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                </div>
                <div>
                    <button class="button button--brand button--font-brand">Text</button>
                    <button class="button button--brand button--font-alert">Text and SVG<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--brand button--square button--font-brand" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--brand button--square button--font-alert"
                        aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--alert button--font-brand">Text</button>
                    <button class="button button--alert button--font-alert">Text and SVG<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--alert button--square button--font-brand" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--alert button--square button--font-alert"
                        aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--accent button--brand button--font-brand">Text</button>
                    <button class="button button--accent button--brand button--font-alert">Text and SVG<svg
                            class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--brand button--square button--font-brand"
                        aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--brand button--square button--font-alert"
                        aria-label="Button text">B</button>
                </div>
                <div>
                    <button class="button button--accent button--alert button--font-brand">Text</button>
                    <button class="button button--accent button--alert button--font-alert">Text and SVG<svg
                            class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--alert button--square button--font-brand"
                        aria-label="Button text">
                        <svg class="button__icon" aria-.badge svghidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--alert button--square button--font-alert"
                        aria-label="Button text">B</button>
                </div>
            </div>
            {{>copy/button/font-color}}
        </div>
    </section>
    <hr id="size">
    <section>
        <h3>Size</h3>
        <p>Set the size of each button</p>
        <p>Options: <strong>md(default)</strong>, <strong>sm</strong>, <strong>lg</strong>, <strong>xl</strong></p>
        <div class="preview">
            <div id="button-size" class="preview-display">
                <div>
                    <button class="button button--sm">Button SM</button>
                    <button class="button button--accent button--sm">Button SM<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--sm button--square" aria-label="Button SM">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--sm button--square" aria-label="Button SM">B</button>
                </div>
                <div>
                    <button class="button">Button MD</button>
                    <button class="button button--accent">Button MD<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--square" aria-label="Button MD">B</button>
                </div>
                <div>
                    <button class="button button--lg">Button LG</button>
                    <button class="button button--accent button--lg">Button LG<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--lg button--square" aria-label="Button LG">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--lg button--square" aria-label="Button LG">B</button>
                </div>
                <div>
                    <button class="button button--xl">Button XL</button>
                    <button class="button button--accent button--xl">Button XL<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square button--xl" aria-label="Button XL">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--xl button--square" aria-label="Button XL">B</button>
                </div>
            </div>
            {{>copy/button/size}}
        </div>
    </section>
    <hr id="shape">
    <section>
        <h3>Shape</h3>
        <p>Set the shape of each button</p>
        <p>Options: <strong>rectangular(default)</strong>, <strong>square</strong>, <strong>circle</strong></p>
        <div class="preview">
            <div id="button-shape" class="preview-display">
                <div>
                    <button class="button button--square" aria-label="button button--square">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square" aria-label="button button--square">B</button>
                    <button class="button button--circle" aria-label="Button circle">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--circle" aria-label="Button circle">B</button>
                </div>
                <div>
                    <button class="button button--square button--accent" aria-label="button button--square">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square button--accent" aria-label="button button--square">B</button>
                    <button class="button button--circle button--accent" aria-label="Button circle">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--circle button--accent" aria-label="Button circle">B</button>
                </div>
                <div>
                    <button class="button button--square button--brand" aria-label="button button--square">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--circle button--brand" aria-label="Button circle">B</button>
                    <button class="button button--square button--accent button--brand"
                        aria-label="button button--square">B</button>
                    <button class="button button--circle button--accent button--brand"
                        aria-label="Button circle">B</button>
                </div>
            </div>
            {{>copy/button/shape}}
        </div>
    </section>
    <hr>
    <section>
        <h3>Disabled</h3>
        <p>Disable State for each button</p>
        <div class="preview">
            <div id="button-disabled" class="preview-display">
                <button class="button" disabled="true">Text</button>
                <button class="button" disabled="true">Text and SVG<svg class="button__icon" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--square" disabled="true" aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--square" disabled="true" aria-label="Button text">B</button>
                <button class="button button--brand" disabled="true">Text</button>
                <button class="button button--brand" disabled="true">Text and SVG<svg class="button__icon"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--brand square" disabled="true" aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--brand button--square" disabled="true" aria-label="Button text">B</button>
                <button class="button button--alert" disabled="true">Text</button>
                <button class="button button--alert" disabled="true">Text and SVG<svg class="button__icon"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--alert button--square" disabled="true" aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--alert button--square" disabled="true" aria-label="Button text">B</button>
                <button class="button button--accent button--brand" disabled="true">Text</button>
                <button class="button button--accent button--brand" disabled="true">Text and SVG<svg
                        class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--accent button--brand button--square" disabled="true"
                    aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--accent button--brand button--square" disabled="true"
                    aria-label="Button text">B</button>
                <button class="button button--accent button--alert" disabled="true">Text</button>
                <button class="button button--accent button--alert" disabled="true">Text and SVG<svg
                        class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--accent button--alert button--square" disabled="true"
                    aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--accent button--alert button--square" disabled="true"
                    aria-label="Button text">B</button>
            </div>
            {{>copy/button/disabled}}
        </div>
    </section>
    <hr>
    <section>
        <h3>RTL</h3>
        <p>RTL support for button with icon</p>
        <div class="preview">
            <div id="button-rtl" class="preview-display">
                <div dir="rtl">
                    <button class="button">النص والرمز
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--brand">النص والرمز<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--brand square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--alert">النص والرمز<svg class="button__icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--alert button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--brand">النص والرمز<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--brand button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--alert">النص والرمز<svg class="button__icon"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                    <button class="button button--accent button--alert button--square" aria-label="Button text">
                        <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                </div>
            </div>
            {{>copy/button/rtl}}
        </div>
    </section>
    <hr id="mix">
    <section>
        <h3>Mix</h3>
        <p>Mix as many modifiers for each button</p>
        <div class="preview">
            <div id="button-mix" class="preview-display">
                <button class="button">Base Font-Base</button>
                <button class="button button--font-brand">Base Font-Brand</button>
                <button class="button button--font-alert">Base Font-Alert</button>
                <button class="button button--brand">Brand Font-Base</button>
                <button class="button button--brand button--font-brand">Brand Font-Brand</button>
                <button class="button button--brand button--font-alert">Brand Font-Alert</button>
                <button class="button button--alert">Alert Font-Base</button>
                <button class="button button--alert button--font-brand">Alert Font-Brand</button>
                <button class="button button--alert button--font-alert">Alert Font-Alert</button>
                <button class="button button--accent">Accent Base Font-Base</button>
                <button class="button button--accent button--font-brand">Accent Base Font-Brand</button>
                <button class="button button--accent button--font-alert">Accent Base Font-Alert</button>
                <button class="button button--accent button--brand">Accent Brand Font-Base</button>
                <button class="button button--accent button--brand button--font-brand">Accent Brand Font-Brand</button>
                <button class="button button--accent button--brand button--font-alert">Accent Brand Font-Alert</button>
                <button class="button button--accent button--alert">Accent Alert Font-Base</button>
                <button class="button button--accent button--alert button--font-brand">Accent Alert Font-Brand</button>
                <button class="button button--accent button--alert button--font-alert">Accent Alert Font-Alert</button>
            </div>
            {{>copy/button/mix}}
        </div>
    </section>
    <hr id="variant">
    <section>
        <h3>Custom (Tailwind)</h3>
        <p>If you are using Tailwind styling, you can customize each button with Tailwind utilities</p>
        <div class="preview">
            <div id="button-custom" class="preview-display">
                <button class="button text-blue-600 border-yellow-700 [&_svg]:text-purple-700">
                    Text and SVG
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--square hover:bg-slate-100 ring-2 ring-slate-300 transition"
                    aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="text-indigo-600 group-hover:text-indigo-800">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button class="button button--square bg-gray-100 text-gray-800 shadow-sm hover:shadow-md transition"
                    aria-label="Button text">
                    B
                </button>
                <button class="button button--accent animate-pulse hover:animate-none [&_svg]:text-amber-600">
                    Text and SVG
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button
                    class="button button--accent button--square ring-2 ring-rose-400 hover:scale-105 transition-transform"
                    aria-label="Button text">
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
                <button
                    class="button button--accent button--square font-bold border-2 border-accent hover:bg-accent/20 transition"
                    aria-label="Button text">
                    B
                </button>
                <button
                    class="button button--alert rounded-full  mx-6 text-base-1 bg-green-700 hover:bg-green-800 active:bg-green-900 justify-between">
                    Text and SVG
                    <svg class="button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </button>
            </div>
            {{>copy/button/custom}}
        </div>
    </section>
    <hr>
    <section>
        <h3>Templates</h3>
        <p>Button components is available in the followng templates</p>
        {{>styling}}
    </section>
    {{> skip prev="Badge" next="Clipboard" prev-path="components/badge" next-path="components/clipboard"}}
</main>