<main class="layout-main scrollbar">
  <section>
    <h1>Vite Starters</h1>
    <p>
      We’ve created a collection of Vite starters to help you quickly scaffold and explore Corex integrations using
      <strong>Vanilla JavaScript</strong> and <strong>TypeScript</strong>. These templates are organized around
      different design layers (Corex, Modex, Themex), with CSS or Tailwind options — both in their default and
      customizable forms.
    </p>
  </section>
  <section class="mt-10">
    <h2>Available Starters</h2>
    <div class="table-wrapper scrollbar scrollbar--sm">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Template</th>
            <th>Export</th>
            <th>Import</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-corex-css" target="_blank">vite-corex-css
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            <td>Corex</td>
            <td>CSS</td>
            <td>Package</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-corex-css-custom"
                target="_blank">vite-corex-css-custom
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Corex</td>
            <td>CSS</tdd>
            <td>Custom</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-corex-tailwind" target="_blank">vite-corex-tailwind
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Corex</td>
            <td>Tailwind</td>
            <td>Package</td>
          </tr>
          <tr>
            <td>
              <a class="link" href="https://github.com/netoum/vite-corex-tailwind-custom"
                target="_blank">vite-corex-tailwind-custom
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Corex</td>
            <td>Tailwind</td>
            <td>Custom</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-modex-css" target="_blank">vite-modex-css
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            <td>Modex</td>
            <td>CSS</td>
            <td>Package</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-modex-css-custom"
                target="_blank">vite-modex-css-custom
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Modex</td>
            <td>CSS</tdd>
            <td>Custom</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-modex-tailwind" target="_blank">vite-modex-tailwind
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Modex</td>
            <td>Tailwind</td>
            <td>Package</td>
          </tr>
          <tr>
            <td>
              <a class="link" href="https://github.com/netoum/vite-modex-tailwind-custom"
                target="_blank">vite-modex-tailwind-custom
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Modex</td>
            <td>Tailwind</td>
            <td>Custom</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-themex-css" target="_blank">vite-themex-css
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            <td>Themex</td>
            <td>CSS</td>
            <td>Package</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-themex-css-custom"
                target="_blank">vite-themex-css-custom
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Themex</td>
            <td>CSS</tdd>
            <td>Custom</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap">
              <a class="link" href="https://github.com/netoum/vite-themex-tailwind" target="_blank">vite-themex-tailwind
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Themex</td>
            <td>Tailwind</td>
            <td>Package</td>
          </tr>
          <tr>
            <td>
              <a class="link" href="https://github.com/netoum/vite-themex-tailwind-custom"
                target="_blank">vite-themex-tailwind-custom
                <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <title>Opens in a new window</title>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                  </path>
                </svg>
              </a>
            </td>
            <td>Themex</td>
            <td>Tailwind</td>
            <td>Custom</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  {{> skip prev="Theming" next="Color" prev-path="theming" next-path="tokens/color"}}
</main>