  <nav class="layout-side h-full overflow-y-auto scrollbar scrollbar--sm z-20 mt-6" role="navigation" aria-labelledby="sidebar-title">

      <div class="flex flex-wrap gap-2">
        <div id="mode-switcher-side" class="switcher switcher-js switcher--duo switcher--circle" data-default-value="light" data-key="mode" data-on-value-change="update-mode-switcher">
          <div data-part="root">
            <button data-part="item" data-value="light"
              aria-label="Switch to light color mode">
              <svg class="item__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
              </svg>
            </button>
            <button data-part="item" data-value="dark"
              aria-label="Switch to dark color mode">
              <svg class="item__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
              </svg>
            </button>
          </div>
        </div>
        <div id="theme-switcher-side" class="switcher switcher-js switcher--sm" data-default-value="neo" data-key="theme" data-on-value-change="update-theme-switcher-header">
          <div data-part="root">
            <button data-part="item" data-value="neo" 
            class="data-[state=on]:bg-accent-brand data-[state=on]:text-accent-contrast data-[state=on]:hover:bg-accent-brand-1 data-[state=on]:active:bg-accent-brand-2"
              aria-label="Switch to Neo theme">
              Neo
            </button>
            <button data-part="item" data-value="revo"
            class="data-[state=on]:bg-accent-brand data-[state=on]:text-accent-contrast data-[state=on]:hover:bg-accent-brand-1 data-[state=on]:active:bg-accent-brand-2"
        
            aria-label="Switch to Revo theme">
            Revo
            </button>
            <button data-part="item" data-value="uno"
            class="data-[state=on]:bg-accent-brand data-[state=on]:text-accent-contrast data-[state=on]:hover:bg-accent-brand-1 data-[state=on]:active:bg-accent-brand-2"
        
            aria-label="Switch to Uno theme">
            Uno
          </button>
          </div>
        </div>
      </div>

    <h2 id="sidebar-title" class="sr-only">Documentation Navigation</h2>
    <h5 class="nav-title">Getting Started</h5>

    <ul class="nav-list">
      <li><a href="/corex/documentation/introduction" class="nav-link" {{#if (eq page "introduction"
          )}}data-selected{{/if}}>Introduction</a></li>
      <li><a href="/corex/documentation/installation" class="nav-link" {{#if (eq page "installation"
          )}}data-selected{{/if}}>Installation</a></li>
      <li><a href="/corex/documentation/templates" class="nav-link" {{#if (eq page "templates"
          )}}data-selected{{/if}}>Templates</a></li>
          <li><a href="/corex/documentation/theming" class="nav-link" {{#if (eq page "theming"
            )}}data-selected{{/if}}>Theming</a></li>
          <li><a href="/corex/documentation/starters" class="nav-link" {{#if (eq page "starters"
            )}}data-selected{{/if}}>Starters</a></li>
    </ul>

    <h5 class="nav-title">Tokens</h5>

    <ul class="nav-list">
      <li><a href="/corex/documentation/tokens/color" class="nav-link" {{#if (eq page "color"
          )}}data-selected{{/if}}>Color</a></li>
    </ul>


    <h5 class="nav-title">Components</h5>

    <ul class="nav-list">
      <li><a href="/corex/documentation/components/accordion" class="nav-link" {{#if (eq page "accordion"
          )}}data-selected{{/if}}>Accordion</a></li>
          <li><a href="/corex/documentation/components/avatar" class="nav-link" {{#if (eq page "avatar"
            )}}data-selected{{/if}}>Avatar</a></li>
      <li><a href="/corex/documentation/components/badge" class="nav-link" {{#if (eq page "badge"
          )}}data-selected{{/if}}>Badge</a></li>
      <li><a href="/corex/documentation/components/button" class="nav-link" {{#if (eq page "button"
          )}}data-selected{{/if}}>Button</a></li>
          <li><a href="/corex/documentation/components/checkbox" class="nav-link" {{#if (eq page "checkbox"
            )}}data-selected{{/if}}>Checkbox</a></li>
      <li><a href="/corex/documentation/components/clipboard" class="nav-link" {{#if (eq page "clipboard"
        accordion  )}}data-selected{{/if}}>Clipboard</a></li>
        <li><a href="/corex/documentation/components/collapsible" class="nav-link" {{#if (eq page "collapsible"
            )}}data-selected{{/if}}>Collapsible</a></li>
      <li><a href="/corex/documentation/components/dialog" class="nav-link" {{#if (eq page "dialog"
          )}}data-selected{{/if}}>Dialog</a></li>
      <li><a href="/corex/documentation/components/link" class="nav-link" {{#if (eq page "link"
          )}}data-selected{{/if}}>Link</a></li>
      <li><a href="/corex/documentation/components/listbox" class="nav-link" {{#if (eq page "listbox"
          )}}data-selected{{/if}}>Listbox</a></li>
      <li><a href="/corex/documentation/components/menu" class="nav-link" {{#if (eq page "menu"
          )}}data-selected{{/if}}>Menu</a></li>
          <li><a href="/corex/documentation/components/switch" class="nav-link" {{#if (eq page "switch"
            )}}data-selected{{/if}}>Switch</a></li>
      <li><a href="/corex/documentation/components/switcher" class="nav-link" {{#if (eq page "switcher"
          )}}data-selected{{/if}}>Switcher</a></li>
      <li><a href="/corex/documentation/components/tabs" class="nav-link" {{#if (eq page "tabs"
          )}}data-selected{{/if}}>Tabs</a></li>
      <li><a href="/corex/documentation/components/toggle-group" class="nav-link" {{#if (eq page "toggle-group"
          )}}data-selected{{/if}}>Toggle Group</a></li>
      <li><a href="/corex/documentation/components/tree-view" class="nav-link" {{#if (eq page "tree-view"
          )}}data-selected{{/if}}>Tree View</a></li>
   
        </ul>

<div class="pt-12">
  <a class="link link--font-brand" href="https://netoum.com" target="_blank">Made by Netoum
    <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="1.5" stroke="currentColor">
      <title>Opens in a new window</title>
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
      </path>
    </svg>
  </a>
  <p>MIT License</p>
</div>
  </nav>